body {
  background-color: hsl(225, 100%, 94%);
  font-family: 'Red Hat Display', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

img {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

footer {
  bottom: 0;
  position: fixed;
}