body {
  background-color: hsl(225, 100%, 94%);
  font-family: 'Red Hat Display', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  height: 100vh;
}

h1 {
  margin: 0;
}

@media (max-width: 375px) {
  #background {
    background-image: url(./images/pattern-background-mobile.svg);
    background-repeat: no-repeat;
    z-index: -1;
  }
}

@media (min-width: 376px) {
  #background {
    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    height: 100%;
  }
}

img {
  
}

footer {
  bottom: 0;
  position: fixed;
}