:root {
  --bright-blue: hsl(245, 75%, 52%);
  --dark-blue: hsl(223, 47%, 23%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --pale-blue: hsl(225, 100%, 94%);
  --very-pale-blue: hsl(225, 100%, 98%);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--pale-blue);
  color: var(--desaturated-blue);
  font-family: 'Red Hat Display', sans-serif;
  font-size: 16px;
  height: 100vh;
}

@media (max-width: 375px) {
  #background {
    background-image: url(./images/pattern-background-mobile.svg);
    background-repeat: no-repeat;
    height: 100%;
  }
}

@media (min-width: 376px) {
  #background {
    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    height: 100%;
  }
}

#background {
  align-items: center;
  display: flex;
  justify-content: center;
}

footer {
  bottom: 0;
  position: absolute;
}

#card {
  background-color: white;
  border-radius: 1.5rem;
  height: 80%;
  overflow: hidden;
  text-align: center;
  width: 85%;
}

img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}

h1 {
  font-size: 1.4rem;
  font-weight: 900;
}

h1, h4 {
  color: var(--dark-blue);
}

h4, #change {
  font-weight: 700;
}

#change {
  color: var(--bright-blue);
}

#buttons {
  display: flex;
  flex-direction: column;
}

#buttons a {
  text-decoration: none;
  font-weight: 900;
}

#proceed-button {
  background-color: var(--bright-blue);
  border-radius: 10px;
  color: white;
  margin: 0 25px;
  padding: 15px 0;
  box-shadow: 0 1rem 2rem -1em var(--bright-blue);
}

#cancel-button {
  color: inherit;
}
